@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('web fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
  }
html{
    /*font-family: 'TeX Gyre Heros', sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    left: 0px;
    overflow-x: hidden;
    color:blanchedalmond;
    background-color: darkred;
    
}


body{
    margin: 0;
    padding: 0;
    
    background-image: url('callout-content/back.png');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.draggable-image {
    position: absolute;
    cursor: move;
    touch-action: none;
    transition: transform 0.2s;
  }

#graphic-banner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

h1{
    width: 100%;
    text-align: center;
    font-size: 6vw;
    
}

#water{font-size: 10vw;
color: blue;
text-shadow: 7px 5px 3px darkblue;
margin-bottom: -90px;
font-style: italic;}

#thirst{

    color: blanchedalmond;
    width: 100%;
    text-align: center;
    font-size: 1vw;}

#background-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    
}
#background-img img{
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width: min-content;
    position: absolute;
}

.info{
    
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    
}

.info img {
    margin-top: 20px;
    margin-bottom: 20px;

}

#info{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    column-count: 2;
    column-gap: 20px;
}

.bouncing-image {
    position: absolute;
    width: 350px; /* Adjust width of the image */
    z-index: -1;
    opacity: 1;
    
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    background-size: cover;
    background-position: center;
}
#container h1{
    font-size: 7vw;
    z-index: 1;
    font-style: italic;
    user-select: none;
}

#apply-cont{
    margin-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .info{
        width: 85vw;
        font-size: small;}
    h1{ 
        font-size: 8vw;
        
    }
    #water{

        font-size: 25vw;
        margin-bottom: -40px;
    }

    #info{
        width: 80vw;
        column-count: 1;
    }
    #info img{
        max-width: 30vw;
    } 

    #thirst{
        font-size: large;
    }


    

}