@import url("https://use.typekit.net/vnk6hsr.css");

body{
    background: darkgreen;

    font-family: ibm-plex-mono,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;;
    color:floralwhite;
}
    #text-cont{
        z-index: 10;
        position: absolute;
        top: 0px;
        


}

#house{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    mix-blend-mode: multiply;
    width: 50%;
    height: 50%;
}

h1{
    top: 1px;
    display: block;
    font-size:25px;
    

}
h3{
    margin-bottom: 0px;
}
a{
    margin-left: 10px;
}
p{
    margin-left: 20px;
}

#drawing-Cont{
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 0;
    
    
}
#drawingPad{
    width: 100%;
    height:100%; 
    overflow: hidden;
    z-index: -1;
    
    
}